/* Add your background image here */
body {
    background-image: url('UZ.jpg');
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.7); /* Dark overlay */
    background-image: url('UZ.jpg'); /* background image */
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #00aaff;
}

.chat-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#chatbox {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding: 10px;
    background-image: url('UnizuluCSS.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    word-wrap: break-word; /* Ensures text wraps within the box */
    white-space: pre-wrap; /* Preserves white spaces and line breaks */

}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#user-input {
    width: calc(100% - 100px);
    height: 50px; /* Initial height */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    
    margin-right: 10px;
    resize: vertical; /* Allow vertical resizing */
    overflow-y: auto; /* Enable vertical scrolling */
    word-wrap: break-word; /* Ensure text wraps inside the textarea */
    white-space: pre-wrap; /* Preserve white space and line breaks */
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #00aaff;
    color: white;
    cursor: pointer;
}

.bot-message, .user-message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.bot-message {
    background-color: #333;
    color: white;
    animation: slideIn 0.5s ease-out;
}


.user-message {
    background-color: #00aaff;
    color: white;
    text-align: right;
}

.contact-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info h2 {
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
